[program:kafka]
command=/etc/init.d/kafka.sh
user=kafka
autostart=true
autorestart=true
startsecs=10
startretries=999
log_stdout=true
log_stderr=true
logfile={{ kafka['log_file'] }}
logfile_maxbytes=20MB
logfile_backups=50