#!/bin/bash -l

HOME=/home/{{ redis['user'] }} /opt/node-v0.10.29-linux-x64/bin/node /opt/node-v0.10.29-linux-x64/bin/redis-commander --redis-port {{ redis['port'] }} --redis-host {% for host in groups['redis'] %}{{ hostvars[host].local_ipv4 }}{% endfor %} --port {{ redis_commander['port'] }}