storm.local.dir: "{{ storm['data_dir'] }}"
storm.zookeeper.servers:
{% for host in groups.zookeeper %}
  - "{{ hostvars[host].ansible_ec2_local_ipv4 }}"
{% endfor %}

storm.zookeeper.port: {{ zookeeper['clientport'] }}
storm.zookeeper.root: "{{ storm['zookeeper_root'] }}"

{% for host in groups.ud_storm_master %}
nimbus.host: "{{ hostvars[host].ansible_ec2_local_ipv4 }}"
{% endfor %}

nimbus.childopts: "-verbose:gc -XX:+PrintGCTimeStamps -XX:+PrintGCDetails -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.port=9998"

supervisor.worker.timeout.secs: 60

ui.port: {{ storm['ui_port'] }}

logviewer.port: 8000