[program:storm-nimbus]
command={{ storm['bin_dir'] }}/storm nimbus
user={{ storm['user'] }}
autostart=true
autorestart=true
startsecs=10
startretries=999
log_stdout=true
log_stderr=true
logfile={{ storm['log_dir'] }}/storm-nimbus.log
logfile_maxbytes=20MB
logfile_backups=50

[program:storm-ui]
command={{ storm['bin_dir'] }}/storm ui
user={{ storm['user'] }}
autostart=true
autorestart=true
startsecs=10
startretries=999
log_stdout=true
log_stderr=true
logfile={{ storm['log_dir'] }}/storm-ui.log
logfile_maxbytes=20MB
logfile_backups=50