[program:storm-supervisor]
command=/etc/init.d/storm-supervisor.sh
user={{ storm['user'] }}
autostart=true
autorestart=true
startsecs=10
startretries=999
log_stdout=true
log_stderr=true
logfile={{ storm['log_dir'] }}/storm-supervisor.log
logfile_maxbytes=20MB
logfile_backups=50